* {
    margin: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.Back {
    background-image: url(https://steamuserimages-a.akamaihd.net/ugc/1853796001515162587/C756553F316BC0D5210AA8FC053C1E75EC836779/?imw=512&amp;imh=288&amp;ima=fit&amp;impolicy=Letterbox&amp;imcolor=%23000000&amp;letterbox=true);
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center; /* Центрирование по горизонтали */
    align-items: center;    /* Центрирование по вертикали */
}

.clock {
    background-color: rgba(235, 233, 238, 0.2);
    height: 40vh;
    width: 50vw;
    margin: 0 auto;
    border-radius: 15px;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.5);
}

.numbers {
    text-align: center;
    margin-top: 14vh;
    font-size: 80px;
    color: rgb(150, 187, 209);
}

.day {
    font-size: 40px;
    text-align: right;
    margin-right: 30px;
    margin-top: 30px;
    color: rgb(150, 187, 209);
}

@media(max-width: 458px) {
    .numbers {
    text-align: center;
    margin-top: 10vh;
    font-size: 58px;
    color: rgb(150, 187, 209);
}
    .day {
    font-size: 35px;
    text-align: right;
    margin-right: 30px;
    margin-top: 20px;
    color: rgb(150, 187, 209);
}
    .clock {
    background-color: rgba(235, 233, 238, 0.2);
    height: 30vh;
    width: 70vw;
    margin: 0 auto;
    border-radius: 15px;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.5);
}
}